In [67]:
import pandas as pd 
import numpy as np
list1=[4,2,8,9,0,4,7,8,2,7,12,8,3,5] 
list_str=["dkdlkw","jodwkwij","nhdikjdk","jnkkjwsnbj"]
dict1={
    "a1":[1,3,2],
    "a2":[4,5,6],
    "a3":[7,8,9],
    "a4":[10,11,12]    

}
dict1_tak_values={
    "z1" : 1 ,
    "z2" : 2 ,
    "z3" : 3 ,
    "z4" : 4 ,
    "z5" : 5 ,
    "z6" : 4 ,
}
mat=[[1,2,3,4,5],[6,7,8,9,10]]

In [82]:
d4=np.random.randint(1,3,size=(10,10))
d3=pd.Series(mat)
#d4=d3.drop("a2",axis=1)
d4.reshape(50,2)

array([[2, 1],
       [2, 1],
       [1, 2],
       [1, 2],
       [1, 2],
       [1, 1],
       [1, 1],
       [1, 1],
       [2, 2],
       [1, 1],
       [2, 2],
       [2, 1],
       [1, 2],
       [2, 2],
       [2, 1],
       [2, 2],
       [2, 1],
       [2, 2],
       [2, 1],
       [2, 1],
       [2, 1],
       [1, 1],
       [2, 1],
       [1, 2],
       [1, 2],
       [1, 1],
       [2, 1],
       [1, 1],
       [1, 2],
       [2, 2],
       [1, 2],
       [1, 1],
       [1, 2],
       [2, 2],
       [1, 2],
       [1, 2],
       [2, 1],
       [1, 2],
       [2, 1],
       [1, 2],
       [2, 2],
       [2, 1],
       [2, 1],
       [1, 2],
       [2, 1],
       [1, 2],
       [1, 2],
       [2, 2],
       [1, 1],
       [2, 2]], dtype=int32)

In [ ]:
import pandas as pd

data = {
    'نام': [ 'علی',  'زهرا',    'رضا'],
    'سن':  [   23,     25,      22],
    'شهر': ['تهران','اصفهان','شیراز']
}

df = pd.DataFrame(data,["1","2","3"])
df

    نام  سن     شهر
1   علی  23   تهران
2  زهرا  25  اصفهان
3   رضا  22   شیراز

In [ ]:
e1=input("enter your password:")
password=input("enter your password:")
while not e1 == password:
    print("error try agean")
    e1=input("enter your password:")
    e2=input("enter your password:")
else:
    print("complet")    
    
e=input("no/yes")
if e == "yes" :
    r=input("enter your password:")
    if r == password : 
        print("welcom")
    else:
        print("error")
        r= input("enter your pssword:")
        if r == password:
            print("welcome")
        else:
            print("error (2)")
            r=input("enter your pssword:")
            if r == password:
                print("welcome") 
            else:
                print("error (3)")   
        
else:
    print("complet2")

complet
error
error (2)
welcome

In [1]:
e1=input("rrg")