In [2]:
import pandas as pd

In [4]:
list1=[5,4,3,2,1,8,5,9,7,0,2,4,1,6] 
list_str=["dkdlkw","jodwkwij","nhdikjdk","jnkkjwsnbj"]
dict1={
    "a1":[1,3,2],
    "a2":[4,5,6],
    "a3":[7,8,9],
    "a4":[10,11,12]    
}
mat=[[1,2,3,4,5],[6,7,8,9,10]]

In [ ]:
kjhgyy

pandas.Series()

In [ ]:


d3=pd.Series(list_str)
r3=pd. Series(mat)
s = pd.Series(list1)
#print(s)
s1=pd.Series(list1)
#print(s1)
s2=pd.Series({1:"mashin",2:"lapjjjjjjjjjjjtop",0:"divarjjjjj"})
#or s2=pd.Series({2:"mashin",1:"laptop",3:"divar"})
#print(s2)
#s2.values
#s1.values
#s1.index
#s2.index
#s1[s1 > 3]
#s3=pd.Series(2,range(4))
#print(s3)
#s1.mean()
#s2.count()
#d3.count()
#s1.min()
#s2.max()
#s1.describe()
#d3.str.contains("j")
#print(d3[d3.str.contains("n")])
#d3.str.upper()
s

0     5
1     4
2     3
3     2
4     1
5     8
6     5
7     9
8     7
9     0
10    2
11    4
12    1
13    6
dtype: int64

pandas.DateFrame()

In [14]:
z1=pd.DataFrame(mat,["k1","k2"])
z2=pd.DataFrame(list1)
z3=pd.DataFrame(mat,index=range(1,3))
z4=pd.DataFrame(dict1,["tst_1","tst_2","tst_3"]) # OR -- index=["tst_1","tst_2","tst_3"]
#z1.index
z4.index
#z3

z3

#z1["a1"]

   0  1  2  3   4
1  1  2  3  4   5
2  6  7  8  9  10